# ===== Python =====
__pycache__/
*.py[cod]

# ===== Virtual Environment =====
.venv/
venv/
env/

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== VS Code =====
.vscode/

# ===== data.model =====
models/*.keras
models/*.h5
models/*.pkl

# ===== log/cash =====
*.log
*.tmp

# ===== data =====
data/